openapi: 3.0.3
info:
  title: Swagger Petstore - OpenAPI 3.0
  description: |-
    This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about
    Swagger at [https://swagger.io](https://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!
    You can now help us improve the API whether it's by making changes to the definition itself or to the code.
    That way, with time, we can improve the API in general, and expose some of the new features in OAS3.

    _If you're looking for the Swagger 2.0/OAS 2.0 version of Petstore, then click [here](https://editor.swagger.io/?url=https://petstore.swagger.io/v2/swagger.yaml). Alternatively, you can load via the `Edit > Load Petstore OAS 2.0` menu option!_
    
    Some useful links:
    - [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)
    - [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://pro-api.coinmarketcap.com/v2
tags:
  - name: coinmarketcap
    description: Everything about your Pets
    externalDocs:
      description: Find out more
      url: http://swagger.io
 
paths:


  /cryptocurrency/quotes/latest:
    get:
      tags:
        - coinmarketcap
      summary: Gets a user by ID.
      
      description: >
        A detailed description of the operation.
        Use markdown for rich text representation,
        such as **bold**, *italic*, and [links](https://swagger.io).
      parameters:
      
        - name: id
          in: query
          description: User ID
          required: true
          schema:
            type: integer
            format: int64
            enum:
            - 1
          

        
      responses:
        '200':
          description: Successful operation

     

      x-filter:
        type: RHS-Colon 

      externalDocs:
        description: Learn more about user operations provided by this API.
        url: http://api.example.com/docs/user-operations/
        
  
components:

  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: query       # can be "header", "query" or "cookie"
      name: CMC_PRO_API_KEY  # name of the header, query parameter or cookie
    coinid:        # arbitrary name for the security scheme
      type: apiKey
      in: query       # can be "header", "query" or "cookie"
      name: id  # name of the header, query parameter or cookie
# 2) Apply the API key globally to all operations

security:
  - ApiKeyAuth: []     # use the same name as under securitySchemes
  - coinid: []
